openapi: '3.0.2'
info:
  title: Tiltify API
  version: '1.0'
servers:
  - url: https://tiltify.com/api/v3/
paths:
  /campaigns/{id}:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                    properties:
                      avatar:
                        $ref: "#/components/schemas/Image"
                      user:
                        $ref: "#/components/schemas/User"
                      team:
                        $ref: "#/components/schemas/Team"
                      livestream:
                        $ref: "#/components/schemas/Livestream"
                      amountRaised:
                        type: integer
                      causeId:
                        type: integer
                      description:
                        type: string
                      endsAt:
                        type: integer
                      fundraiserGoalAmount:
                        type: integer
                      fundraisingEventId:
                        type: integer
                      id:
                        type: integer
                      name:
                        type: string
                      originalGoalAmount:
                        type: integer
                      slug:
                        type: string
                      startsAt:
                        type: integer
                      status:
                        type: string
                      supportable:
                        type: boolean
                      supportingAmountRaised:
                        type: integer
                      totalAmountRaised:
                        type: integer
                      url:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/donations:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                        comment:
                          type: string
                        completedAt:
                          type: integer
                        id:
                          type: integer
                        name:
                          type: string
                        rewardId:
                          type: integer
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/rewards:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                        amount:
                          type: integer
                        createdAt:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        fairMarketValue:
                          type: integer
                        id:
                          type: integer
                        image:
                          $ref: '#/components/schemas/Image'
                        kind:
                          type: string
                        name:
                          type: string
                        quantity:
                          type: object
                        remaining:
                          type: object
                        shippingAddressRequired:
                          type: boolean
                        shippingNote:
                          type: object
                        startsAt:
                          type: integer
                        updatedAt:
                          type: integer
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/polls:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                        campaignId:
                          type: integer
                        createdAt:
                          type: integer
                        id:
                          type: integer
                        name:
                          type: string
                        options:
                          $ref: '#/components/schemas/PollOption'
                        updatedAt:
                          type: integer
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/challenges:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        activatesOn:
                          type: integer
                        active:
                          type: boolean
                        amount:
                          type: integer
                        campaignId:
                          type: integer
                        createdAt:
                          type: integer
                        endsAt:
                          type: integer
                        id:
                          type: integer
                        name:
                          type: string
                        totalAmountRaised:
                          type: integer
                        updatedAt:
                          type: integer
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/schedule:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        id:
                          type: integer
                        name:
                          type: string
                        startsAt:
                          type: integer
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/supporting-campaigns:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        amountRaised:
                          type: integer
                        causeId:
                          type: integer
                        description:
                          type: string
                        endsOn:
                          type: string
                        fundraisingEventId:
                          type: integer
                        goal:
                          type: integer
                        id:
                          type: integer
                        name:
                          type: string
                        originalGoal:
                          type: integer
                        slug:
                          type: string
                        startsOn:
                          type: string
                        teamId:
                          type: object
                        thumbnail:
                          $ref: '#/components/schemas/Image'
                        totalAmountRaised:
                          type: integer
                        url:
                          type: string
                        userId:
                          type: integer

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}:
    get:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                    properties:
                      about:
                        type: string
                      address:
                        $ref: "#/components/schemas/Address"
                      avatar:
                        $ref: "#/components/schemas/Image"
                      banner:
                        $ref: "#/components/schemas/Image"
                      contactEmail:
                        type: string
                      currency:
                        type: string
                      id:
                        type: integer
                      image:
                        $ref: "#/components/schemas/Image"
                      legalName:
                        type: string
                      logo:
                        $ref: "#/components/schemas/Image"
                      mailchimpConnected:
                        type: boolean
                      name:
                        type: string
                      paypalCurrencyCode:
                        type: string
                      paypalEmail:
                        type: string
                      settings:
                        properties:
                          colors:
                            properties:
                              background:
                                type: string
                              highlight:
                                type: string
                            type: object
                          findOutMoreLink:
                            type: string
                          footerCopyright:
                            type: string
                          headerIntro:
                            type: string
                          headerTitle:
                            type: string
                        type: object
                      slug:
                        type: string
                      social:
                        $ref: '#/components/schemas/Social'
                      status:
                        type: string
                      stripeConnected:
                        type: boolean
                      video:
                        type: string


        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/campaigns:
    get:
      
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/fundraising-events:
    get:
      
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/leaderboards:
    get:
      
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/visibility-options:
    get:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
    patch:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/permissions:
    get:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events:
    get:
      tags: 
        - Fundraising
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/campaigns:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/incentives:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/leaderboards:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/registrations:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/registration-fields:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/schedule:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: array
                    items:
                      type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/visibility-options:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams:
    get:
      tags: 
        - Teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams/{id}:
    get:
      tags: 
        - Teams
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams/{id}/campaigns:
    get:
      tags: 
        - Teams
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams/{id}/campaigns/{cid}:
    get:
      tags: 
        - Teams
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
        - name: cid
          in: path
          description: The ID of the campaign 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /user:
    get:
      tags: 
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/campaigns:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/campaigns/{cid}:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
        - name: cid
          in: path
          description: The ID of the campaign 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/owned-teams:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/teams:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'


components:
  responses:
    BadRequest:
      description: This error describes when the request could not be fulfilled. This often happens because of a missing request parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotAuthorized:
      description: This error describes when the user needs to be authorized before accessing this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: This error describes when the user accessing a resource does not have permission to do so
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: This error describes when a given resource cannot be found. The ID or slug given is most likely incorrect or has changed. For this reason, we recommend using the ID if you have access to it.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unprocessable:
      description: This error describes when submitted params are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: This error describes when a something bad happened on our end. You should rarely see these. We'll do our best to fix them, but feel free to bug our CM.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
            
  schemas:
    Pagination:
      description: We use cursor based pagination for our donations and this information is embeded in the response under the links key. You will find a prev and next link that point to the next pages of the paginated response. You may submit an optional count field of up to 100.
      type: object
      required:
        - prev
        - next
        - self
      properties:
        prev:
          type: string
        next:
          type: string
        self:
          type: string
        first:
          type: string
        last:
          type: string

      
    Meta:
      description: This is the HTTP status code that is also sent with the request
      type: object
      properties:
        status:
          type: integer
    Error:
      description: error response body. Only included in Post and Patch requests.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        error:
          description: An object describing the error that occurred
          type: object
          properties: 
            title:
              type: string
            detial:
              type: string
        errors:
          description: An object pointing to fields that are incorrect in a submitted model
          type: object
          
#Stuff Used In Responses.

    Livestream:
      type: object
      properties:
        channel:
          type: string
        type:
          type: string
    Team:
      type: object  
      properties:
        avatar:
          $ref: "#/components/schemas/Image"
        id:
          type: integer
        slug:
          type: string
        url:
          type: string
        username:
          type: string
    User:
      type: object
      properties:
        avatar:
          $ref: "#/components/schemas/Image"
        id:
          type: integer
        slug:
          type: string
        url:
          type: string
        username:
          type: string
    Image:
      type: object
      properties:
        alt:
          type: string
        height:
          type: integer
        src:
          type: string
        width:
          type: integer
    PollOption:
      type: array
      items:
        type: object
        properties:
          createdAt:
            type: integer
          id:
            type: integer
          name:
            type: string
          pollId:
            type: integer
          totalAmountRaised:
            type: integer
          updatedAt:
            type: integer
    Address:
      type: object
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        city:
          type: string
        country:
          type: string
        postalCode:
          type: string
        region:
          type: string
    Social:
      type: object
      properties:
        facebook:
          type: string
        instagram:
          type: string
        twitter:
          type: string
        twitch: 
          type: string
        website: 
          type: string
        youtube:
          type: string