openapi: '3.0.2'
info:
  title: Tiltify API
  version: '1.0'
servers:
  - url: https://tiltify.com/api/v3/
paths:
  /campaigns/{id}:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      amountRaised:
                        type: integer
                      avatar:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      causeId:
                        type: integer
                      description:
                        type: string
                      endsAt:
                        type: integer
                      fundraiserGoalAmount:
                        type: integer
                      fundraisingEventId:
                        type: integer
                      id:
                        type: integer
                      livestream:
                        properties:
                          channel:
                            type: string
                          type:
                            type: string
                        type: object
                      name:
                        type: string
                      originalGoalAmount:
                        type: integer
                      slug:
                        type: string
                      startsAt:
                        type: integer
                      status:
                        type: string
                      supportable:
                        type: boolean
                      supportingAmountRaised:
                        type: integer
                      team:
                        properties:
                          avatar:
                            properties:
                              alt:
                                type: string
                              height:
                                type: integer
                              src:
                                type: string
                              width:
                                type: integer
                            type: object
                          id:
                            type: integer
                          slug:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                        type: object
                      totalAmountRaised:
                        type: integer
                      url:
                        type: string
                      user:
                        properties:
                          avatar:
                            properties:
                              alt:
                                type: string
                              height:
                                type: integer
                              src:
                                type: string
                              width:
                                type: integer
                            type: object
                          id:
                            type: integer
                          slug:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                        type: object
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/donations:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      amount:
                        type: number
                      comment:
                        type: string
                      completedAt:
                        type: integer
                      id:
                        type: integer
                      name:
                        type: string
                      rewardId:
                        type: integer
                    type: object

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/rewards:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        active:
                          type: boolean
                        amount:
                          type: integer
                        createdAt:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        fairMarketValue:
                          type: integer
                        id:
                          type: integer
                        image:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        kind:
                          type: string
                        name:
                          type: string
                        quantity:
                          type: object
                        remaining:
                          type: object
                        shippingAddressRequired:
                          type: boolean
                        shippingNote:
                          type: object
                        startsAt:
                          type: integer
                        updatedAt:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/polls:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      active:
                        type: boolean
                      campaignId:
                        type: integer
                      createdAt:
                        type: integer
                      id:
                        type: integer
                      name:
                        type: string
                      options:
                        items:
                          properties:
                            createdAt:
                              type: integer
                            id:
                              type: integer
                            name:
                              type: string
                            pollId:
                              type: integer
                            totalAmountRaised:
                              type: integer
                            updatedAt:
                              type: integer
                          type: object
                        type: array
                      updatedAt:
                        type: integer
                    type: object
                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/challenges:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      activatesOn:
                        type: integer
                      active:
                        type: boolean
                      amount:
                        type: integer
                      campaignId:
                        type: integer
                      createdAt:
                        type: integer
                      endsAt:
                        type: integer
                      id:
                        type: integer
                      name:
                        type: string
                      totalAmountRaised:
                        type: integer
                      updatedAt:
                        type: integer
                    type: object

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/schedule:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        description:
                          type: string
                        id:
                          type: integer
                        name:
                          type: string
                        startsAt:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /campaigns/{id}/supporting-campaigns:
    get:
      tags: 
        - Campaigns
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        causeId:
                          type: integer
                        description:
                          type: string
                        endsOn:
                          type: string
                        fundraisingEventId:
                          type: integer
                        goal:
                          type: integer
                        id:
                          type: integer
                        name:
                          type: string
                        originalGoal:
                          type: integer
                        slug:
                          type: string
                        startsOn:
                          type: string
                        teamId:
                          type: object
                        thumbnail:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        totalAmountRaised:
                          type: integer
                        url:
                          type: string
                        userId:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}:
    get:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      about:
                        type: string
                      address:
                        properties:
                          addressLine1:
                            type: string
                          addressLine2:
                            type: string
                          city:
                            type: string
                          country:
                            type: string
                          postalCode:
                            type: string
                          region:
                            type: string
                        type: object
                      avatar:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      banner:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      contactEmail:
                        type: string
                      currency:
                        type: string
                      id:
                        type: integer
                      image:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      legalName:
                        type: string
                      logo:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      mailchimpConnected:
                        type: boolean
                      name:
                        type: string
                      paypalCurrencyCode:
                        type: string
                      paypalEmail:
                        type: string
                      settings:
                        properties:
                          colors:
                            properties:
                              background:
                                type: string
                              highlight:
                                type: string
                            type: object
                          findOutMoreLink:
                            type: string
                          footerCopyright:
                            type: string
                          headerIntro:
                            type: string
                          headerTitle:
                            type: string
                        type: object
                      slug:
                        type: string
                      social:
                        properties:
                          facebook:
                            type: string
                          instagram:
                            type: string
                          twitter:
                            type: string
                          youtube:
                            type: string
                        type: object
                      status:
                        type: string
                      stripeConnected:
                        type: boolean
                      video:
                        type: string
                    type: object


        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/campaigns:
    get:
      
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        causeId:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        endsOn:
                          type: string
                        fundraisingEventId:
                          type: integer
                        goal:
                          type: integer
                        name:
                          type: string
                        originalGoal:
                          type: integer
                        slug:
                          type: string
                        startsOn:
                          type: string
                        teamId:
                          type: object
                        thumbnail:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        totalAmountRaised:
                          type: integer
                        url:
                          type: string
                        userId:
                          type: integer
                      type: object
                    type: array


                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/fundraising-events:
    get:
      
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        avatar:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        banner:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        bannerIntro:
                          type: string
                        bannerTitle:
                          type: string
                        causeId:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        endsOn:
                          type: string
                        goal:
                          type: integer
                        id:
                          type: integer
                        image:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        logo:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        name:
                          type: string
                        slug:
                          type: string
                        startsOn:
                          type: string
                        url:
                          type: string
                        video:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/leaderboards:
    get:
      
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        avatar:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        banner:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        bannerIntro:
                          type: string
                        bannerTitle:
                          type: string
                        causeId:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        endsOn:
                          type: string
                        goal:
                          type: integer
                        id:
                          type: integer
                        image:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        logo:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        name:
                          type: string
                        slug:
                          type: string
                        startsOn:
                          type: string
                        url:
                          type: string
                        video:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                      type: object
                    type: array

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/visibility-options:
    get:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      donate:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      donorLeaderboard:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                      endsAt:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      fundraiserGoalAmount:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                      individualLeaderboard:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      preventDonationsBeforeStart:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      registration:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      startsAt:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      teamLeaderboard:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                    type: object

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
    patch:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      donate:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      donorLeaderboard:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                      endsAt:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      fundraiserGoalAmount:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                      individualLeaderboard:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      preventDonationsBeforeStart:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      registration:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      startsAt:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      teamLeaderboard:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /causes/{id}/permissions:
    get:
      tags: 
        - Causes
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      activated:
                        type: boolean
                      adminApiEnabled:
                        type: boolean
                      adminBrandingColors:
                        type: boolean
                      adminBrandingDetails:
                        type: boolean
                      adminBrandingEnabled:
                        type: boolean
                      adminBrandingImages:
                        type: boolean
                      adminEnabled:
                        type: boolean
                      adminFinanceEnabled:
                        type: boolean
                      adminGeneralEnabled:
                        type: boolean
                      adminIntegrationsEnabled:
                        type: boolean
                      adminVisibilityEnabled:
                        type: boolean
                      causeLeaderboard:
                        type: boolean
                      dashboardChart:
                        type: boolean
                      dashboardEnabled:
                        type: boolean
                      fundraisingEventsEnabled:
                        type: boolean
                      fundraisingEventsGeneralColors:
                        type: boolean
                      fundraisingEventsGeneralDetails:
                        type: boolean
                      fundraisingEventsGeneralEnabled:
                        type: boolean
                      fundraisingEventsGeneralImages:
                        type: boolean
                      fundraisingEventsIncentives:
                        type: boolean
                      fundraisingEventsLeaderboard:
                        type: boolean
                      fundraisingEventsRegistrationEnabled:
                        type: boolean
                      fundraisingEventsReporting:
                        type: boolean
                      fundraisingEventsReportingCampaigns:
                        type: boolean
                      fundraisingEventsReportingDonations:
                        type: boolean
                      fundraisingEventsReportingFundraisers:
                        type: boolean
                      fundraisingEventsSchedule:
                        type: boolean
                      fundraisingEventsVisibilityDetails:
                        type: boolean
                      fundraisingEventsVisibilityEnabled:
                        type: boolean
                      fundraisingEventsVisibilityLeaderboards:
                        type: boolean
                      reportingCampaigns:
                        type: boolean
                      reportingChart:
                        type: boolean
                      reportingDonations:
                        type: boolean
                      reportingEnabled:
                        type: boolean
                      reportingFundraisers:
                        type: boolean
                    type: object


        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events:
    get:
      tags: 
        - Fundraising
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        avatar:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        banner:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        bannerIntro:
                          type: string
                        bannerTitle:
                          type: string
                        causeId:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        endsOn:
                          type: string
                        goal:
                          type: integer
                        id:
                          type: integer
                        image:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        logo:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        name:
                          type: string
                        slug:
                          type: string
                        startsOn:
                          type: string
                        url:
                          type: string
                        video:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      amountRaised:
                        type: integer
                      avatar:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      banner:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      bannerIntro:
                        type: string
                      bannerTitle:
                        type: string
                      causeId:
                        type: integer
                      currency:
                        type: string
                      description:
                        type: string
                      endsOn:
                        type: string
                      goal:
                        type: integer
                      id:
                        type: integer
                      image:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      logo:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      name:
                        type: string
                      slug:
                        type: string
                      startsOn:
                        type: string
                      url:
                        type: string
                      video:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/campaigns:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        causeId:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        endsOn:
                          type: string
                        fundraisingEventId:
                          type: integer
                        goal:
                          type: integer
                        name:
                          type: string
                        originalGoal:
                          type: integer
                        slug:
                          type: string
                        startsOn:
                          type: string
                        teamId:
                          type: object
                        thumbnail:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        totalAmountRaised:
                          type: integer
                        url:
                          type: string
                        userId:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/incentives:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        createdAt:
                          type: integer
                        description:
                          type: string
                        id:
                          type: integer
                        image:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        title:
                          type: string
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/leaderboards:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      individual:
                        items:
                          properties:
                            amount_raised:
                              type: integer
                            name:
                              type: string
                            url:
                              type: string
                            userId:
                              type: integer
                          type: object
                        type: array
                      team:
                        items:
                          properties:
                            amount_raised:
                              type: integer
                            name:
                              type: string
                            teamId:
                              type: integer
                            url:
                              type: string
                          type: object
                        type: array
                    type: object

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/registrations:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        address:
                          properties:
                            addressLine1:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                            postalCode:
                              type: string
                            state:
                              type: string
                          type: object
                        email:
                          type: string
                        id:
                          type: integer
                        registeredAt:
                          type: string
                        serviceHours:
                          type: boolean
                        shirtSize:
                          type: string
                        subscribed:
                          type: boolean
                        userId:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/registration-fields:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      address:
                        properties:
                          enabled:
                            type: boolean
                        type: object
                      service_hours:
                        properties:
                          enabled:
                            type: boolean
                        type: object
                      shirt_size:
                        properties:
                          enabled:
                            type: boolean
                        type: object
                    type: object

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/schedule:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        description:
                          type: string
                        id:
                          type: integer
                        name:
                          type: string
                        startsAt:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /fundraising-events/{id}/visibility-options:
    get:
      tags: 
        - Fundraising
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      donate:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      donorLeaderboard:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                      endsAt:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      fundraiserGoalAmount:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                      individualLeaderboard:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      preventDonationsBeforeStart:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      registration:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      startsAt:
                        properties:
                          visible:
                            type: boolean
                        type: object
                      teamLeaderboard:
                        properties:
                          type:
                            type: string
                          visible:
                            type: boolean
                        type: object
                    type: object

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams:
    get:
      tags: 
        - Teams
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        avatar:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        bio:
                          type: string
                        disbanded:
                          type: boolean
                        id:
                          type: integer
                        inviteOnly:
                          type: boolean
                        name:
                          type: string
                        slug:
                          type: string
                        social:
                          properties:
                            facebook:
                              type: string
                            twitch:
                              type: string
                            twitter:
                              type: string
                            website:
                              type: string
                            youtube:
                              type: string
                          type: object
                        url:
                          type: string
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams/{id}:
    get:
      tags: 
        - Teams
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      avatar:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      bio:
                        type: string
                      disbanded:
                        type: boolean
                      id:
                        type: integer
                      inviteOnly:
                        type: boolean
                      name:
                        type: string
                      slug:
                        type: string
                      social:
                        properties:
                          facebook:
                            type: string
                          twitch:
                            type: string
                          twitter:
                            type: string
                          website:
                            type: string
                          youtube:
                            type: string
                        type: object
                      url:
                        type: string
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams/{id}/campaigns:
    get:
      tags: 
        - Teams
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        causeId:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        endsOn:
                          type: string
                        fundraisingEventId:
                          type: integer
                        goal:
                          type: integer
                        name:
                          type: string
                        originalGoal:
                          type: integer
                        slug:
                          type: string
                        startsOn:
                          type: string
                        teamId:
                          type: integer
                        thumbnail:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        totalAmountRaised:
                          type: integer
                        url:
                          type: string
                        userId:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /teams/{id}/campaigns/{cid}:
    get:
      tags: 
        - Teams
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
        - name: cid
          in: path
          description: The ID of the campaign 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      amountRaised:
                        type: integer
                      avatar:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      causeId:
                        type: integer
                      description:
                        type: string
                      endsAt:
                        type: integer
                      fundraiserGoalAmount:
                        type: integer
                      fundraisingEventId:
                        type: integer
                      id:
                        type: integer
                      livestream:
                        properties:
                          channel:
                            type: string
                          type:
                            type: string
                        type: object
                      name:
                        type: string
                      originalGoalAmount:
                        type: integer
                      slug:
                        type: string
                      startsAt:
                        type: integer
                      status:
                        type: string
                      supportable:
                        type: boolean
                      supportingAmountRaised:
                        type: integer
                      team:
                        properties:
                          avatar:
                            properties:
                              alt:
                                type: string
                              height:
                                type: integer
                              src:
                                type: string
                              width:
                                type: integer
                            type: object
                          id:
                            type: integer
                          slug:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                        type: object
                      totalAmountRaised:
                        type: integer
                      url:
                        type: string
                      user:
                        properties:
                          avatar:
                            properties:
                              alt:
                                type: string
                              height:
                                type: integer
                              src:
                                type: string
                              width:
                                type: integer
                            type: object
                          id:
                            type: integer
                          slug:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                        type: object
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /user:
    get:
      tags: 
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      data:
                        properties:
                          id:
                            type: integer
                          slug:
                            type: string
                          status:
                            type: string
                          thumbnail:
                            properties:
                              alt:
                                type: string
                              height:
                                type: integer
                              src:
                                type: string
                              width:
                                type: integer
                            type: object
                          username:
                            type: string
                        type: object
                      meta:
                        properties:
                          status:
                            type: integer
                        type: object
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      about:
                        type: string
                      avatar:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      id:
                        type: integer
                      slug:
                        type: string
                      social:
                        properties:
                          facebook:
                            type: object
                          twitch:
                            type: string
                          twitter:
                            type: object
                          website:
                            type: object
                          youtube:
                            type: object
                        type: object
                      totalAmountRaised:
                        type: number
                      url:
                        type: string
                      username:
                        type: string
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/campaigns:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        amountRaised:
                          type: integer
                        causeId:
                          type: integer
                        currency:
                          type: string
                        description:
                          type: string
                        endsOn:
                          type: string
                        fundraisingEventId:
                          type: integer
                        goal:
                          type: integer
                        name:
                          type: string
                        originalGoal:
                          type: integer
                        slug:
                          type: string
                        startsOn:
                          type: string
                        supportingCampaignId:
                          type: integer
                        teamId:
                          type: object
                        thumbnail:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        totalAmountRaised:
                          type: integer
                        url:
                          type: string
                        userId:
                          type: integer
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/campaigns/{cid}:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
        - name: cid
          in: path
          description: The ID of the campaign 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    properties:
                      amountRaised:
                        type: integer
                      avatar:
                        properties:
                          alt:
                            type: string
                          height:
                            type: integer
                          src:
                            type: string
                          width:
                            type: integer
                        type: object
                      causeId:
                        type: integer
                      description:
                        type: string
                      endsAt:
                        type: integer
                      fundraiserGoalAmount:
                        type: integer
                      fundraisingEventId:
                        type: integer
                      id:
                        type: integer
                      livestream:
                        properties:
                          channel:
                            type: string
                          type:
                            type: string
                        type: object
                      name:
                        type: string
                      originalGoalAmount:
                        type: integer
                      slug:
                        type: string
                      startsAt:
                        type: integer
                      status:
                        type: string
                      supportable:
                        type: boolean
                      supportingAmountRaised:
                        type: integer
                      team:
                        properties:
                          avatar:
                            properties:
                              alt:
                                type: string
                              height:
                                type: integer
                              src:
                                type: string
                              width:
                                type: integer
                            type: object
                          id:
                            type: integer
                          slug:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                        type: object
                      totalAmountRaised:
                        type: integer
                      url:
                        type: string
                      user:
                        properties:
                          avatar:
                            properties:
                              alt:
                                type: string
                              height:
                                type: integer
                              src:
                                type: string
                              width:
                                type: integer
                            type: object
                          id:
                            type: integer
                          slug:
                            type: string
                          url:
                            type: string
                          username:
                            type: string
                        type: object
                    type: object

        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/owned-teams:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        avatar:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        bio:
                          type: string
                        disbanded:
                          type: boolean
                        id:
                          type: integer
                        inviteOnly:
                          type: boolean
                        name:
                          type: string
                        slug:
                          type: string
                        social:
                          properties:
                            facebook:
                              type: string
                            twitch:
                              type: string
                            twitter:
                              type: string
                            website:
                              type: string
                            youtube:
                              type: string
                          type: object
                        url:
                          type: string
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /users/{id}/teams:
    get:
      tags: 
        - Users
      parameters:
        - name: id
          in: path
          description: The ID of the user 
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  meta: 
                    $ref: '#/components/schemas/Meta'
                  data:
                    items:
                      properties:
                        avatar:
                          properties:
                            alt:
                              type: string
                            height:
                              type: integer
                            src:
                              type: string
                            width:
                              type: integer
                          type: object
                        id:
                          type: integer
                        name:
                          type: string
                        slug:
                          type: string
                        url:
                          type: string
                      type: object
                    type: array

                  links:
                    $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/NotAuthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '5XX':
          $ref: '#/components/responses/ServerError'


components:
  responses:
    BadRequest:
      description: This error describes when the request could not be fulfilled. This often happens because of a missing request parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotAuthorized:
      description: This error describes when the user needs to be authorized before accessing this resource
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: This error describes when the user accessing a resource does not have permission to do so
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: This error describes when a given resource cannot be found. The ID or slug given is most likely incorrect or has changed. For this reason, we recommend using the ID if you have access to it.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unprocessable:
      description: This error describes when submitted params are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: This error describes when a something bad happened on our end. You should rarely see these. We'll do our best to fix them, but feel free to bug our CM.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
            
  schemas:
    Pagination:
      description: We use cursor based pagination for our donations and this information is embeded in the response under the links key. You will find a prev and next link that point to the next pages of the paginated response. You may submit an optional count field of up to 100.
      type: object
      required:
        - prev
        - next
        - self
      properties:
        prev:
          type: string
        next:
          type: string
        self:
          type: string
        first:
          type: string
        last:
          type: string
    Meta:
      description: This is the HTTP status code that is also sent with the request
      type: object
      properties:
        status:
          type: integer
    Error:
      description: error response body. Only included in Post and Patch requests.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/Meta'
        error:
          description: An object describing the error that occurred
          type: object
          properties: 
            title:
              type: string
            detial:
              type: string
        errors:
          description: An object pointing to fields that are incorrect in a submitted model
          type: object
          
